.darken{
  background-color: #000 !important;
  opacity: 0.6;
  width: 100%;
  height: 90vh;
  display: block;
}
.divback{
  width: 100%;
  height: 90vh;
}
.nav{
  background-color: #0537F6;
}
.white{
  color: #FFFFFF!important;
}
.meetup-conainer{
  height: 95vh !important;
}
.right{
  float: right !important;
}
.meetup-conainer{
  background-color: #414144 !important;
  color: #FFFFFF !important;
  text-align: center;
}
.meetup:hover .meetup-caption{
  position: absolute;
  width:100%;
  height:100%;
  background-color: #000!important;
  opacity: 0.4!important;
  margin: 0vh!important;
  padding: 0vh!important;
  top: 0vh!important;
  bottom: 0vh!important;
  left: 0vh!important;
}
.d-block{
  width: 100%;
  height: 80vh!important;
}
.metadata{
  height: 100%;
}
.header-data{
  width: 100%;
  height: 40vh;
}
.links{
  color: #0537F6  !important;
  padding: 5vh;
}
.link{
  margin-top: 7vh;
  margin-right: 5vh;
}
.signup-btn{
  background-color: #0537F6 !important;
  border-radius: 2vh !important;
  margin-left: 10vh;
  width: 20vh;
  color: #FFF!important;
}
.signup-prompt{
  margin-left: 70vh;
  float: none !important;
  margin-right: 30vh!important;
  width: 60vh!important;
  padding: 10vh!important;
  border: 0.2vh solid #0537F6;
  border-radius: 1vh;
  color: #FFFFFF;
}
